@use "./z-index" as *;

@use "dom-casts-css-kit/portal.scss";

.portal {
  position: absolute;
  background: url("../../assets/portal.png") no-repeat;
  width: 50px;
  height: 50px;
  z-index: $zindex-portal;
}

@include portal.add-portal-frames("portal");
